[submodule "infrastructure"]
	path = infrastructure
	url = https://github.com/martinzhangdidi/tenkb-infra.git
[submodule "helpdocs"]
	path = helpdocs
	url = https://github.com/QuantumNous/new-api-docs-v1.git
